/* styles ------------------ */

.around {
	background-color: #4A5656;
	border: 5px solid #273131;
	padding: 15px;
	width: 280px;
	height: 315px;
	border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.keys {
	position:relative;
	top:15px;
	}

.display{
	
	width: 98%;
	font-size: 2em;
	line-height: 1.5;
	border-radius: 8px;
    box-shadow: 5px 5px 5px black;
}

input[type="button"] {
    margin-left: 1px;
    display: block;
    font-size: 1em;
	font-family: 'Lato', sans-serif;
	box-shadow: 5px 5px 5px black;
	border-top:2px solid transparent;
	cursor:pointer;
	border-radius: 8px;
}

.button {
	width:50px;
	background-color: #D2D5D5;
	line-height: 2;
}
.button:hover{background-color: white;}

.button-zero
{
	width:105px;
	background-color: #D2D5D5;
	line-height: 2;
}
.button-zero:hover{background-color: grey;}

.button-equal
{
	width:50px;
	background-color: #FA8907;
	line-height: 5;
}
.button-equal:hover{background-color: #FFAF3F;}

.button-m
{
	width:50px;
	background-color: #A79CA9;
	line-height: 2;
}
.button-m:hover{background-color: #D1C0CA;}

.button-c
{
	width:50px;
	background-color: #58A07F;
	line-height: 2;
}
.button-c:hover{background-color: #C0D1C7;}

.pro-only
{
    color: rgba(0,0,0,0.4);
}

