#door {width:500px; 
    height:400px; 
    background-color:#4A5656; 
    border: 2px solid #273131;}

#window {z-index:2; 
    position:absolute; top:55px; left: 60px; 
    width:400; height: 300px; 
    border-radius: 30px; 
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, gray, white, gray); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, gray, white, gray); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, gray, white, gray); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, gray, white, gray); /* Standard syntax */ 
    border: 2px solid #273131;}

#keypad {position:absolute; left:511px; top:8px;
    width:300px; height:400px; 
    background-color:#4A5656; 
    border: 2px solid #273131;}

table {margin: 0 0 0 11px;}
td {padding:0 0 0 0; margin:0 0 0 0;}

input[type="button"] { width:90px; height:45px; 
    color:white;
    border:1px solid #273131;
    background-color: #A79CA9 /*-#D2D5D5-*/; 
    font-family: arial, sans-serif; 
    font-size:1.1em;
    padding:0 0 0 0;}
input[type="button"]:active {box-shadow: 0px 0px 6px 1px #5B565C inset;}
input:focus {outline:none;}


#btn1 {border-radius: 5px 0 0 0;}
#btn3 {border-radius: 0 5px 0 0;}
#btnCancel {border-radius: 0 0 0 5px;}
#btnEnter {border-radius: 0 0 5px 0;}

#doorButton {z-index:2; 
    position:absolute; top:300px; left: 538px; 
    width: 245px; height: 100px; 
    border: 4px double #273131; 
    border-radius: 20px;}
#doorButton:active {box-shadow: 2px 2px 10px 5px #273131 inset;}

#doorButton2 {z-index:3; 
    margin: 5px 0 0 75px;
    width: 90px; height: 90px; 
    background-color:#4A5656; 
    border-radius:50px; 
    box-shadow: 1px 1px 30px 10px #273131 inset;}

#txtDisplay {width:200px; height:60px;
    margin: 20px 0 12px 50px; 
    color:limegreen; 
    background-color: black; 
    font-family: monospace; 
    font-size:  4em; 
    text-align: right; 
    padding-right: 10px;
    border-radius: 5px;}

